{{!-- EDIT PET --}}
<div class="container hide" id="edit-popup" data-id="{{id}}">
    <h1 class="center">--- New Edit Below ---</h1>
    <div class="break"></div>
    <form id="edit-form">
        <div class="label-design">
            <label for="name">Name:</label>
            <input id="edit-name" type="text" name="new-pet-name" placeholder="{{name}}">
        </div>
        <div class="label-design">
            <label for="dob">DOB:</label>
            <input type="date" name="dob" value="{{dob}}" id="new-pet-dob">
        </div>
        <div class="label-design">
            <label for="gender">Gender:</label>
            <select name="gender" id="new-pet-gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">other</option>
            </select>
        </div>
        <div class="button-container">
            <button type="submit" class="my-button button" id="save-edits"><i class="fas fa-check"></i> Save
                Edits</button>
            <button type="button" class="my-button button" id="cancel-edits-pets"><i class="fas fa-times"></i>
                Cancel</button>
        </div>
    </form>

    <div class="break"></div>

    {{!-- REMOVE PETS --}}
    {{> removePet}}
</div>