<div class="container-thin" id="nav">
    <ul id="nav-center">
        <li><i class="fas fa-paw fa-2x"></i><br>Pets</li>
        <li><i class="far fa-check-circle fa-2x"></i><br>Todo</li>
        <li><i class="far fa-calendar-check fa-2x"></i><br>Visits</li>
        <li><i class="fas fa-cog fa-2x"></i><br>Config</li>
    </ul>
</div>