<div class="container-thin" id="nav">
    <ul id="nav-center">
        <li><a href="/"><i class="fas fa-paw fa-2x"></i><br>Pets</a></li>
        <li><a href="/todos"><i class="far fa-check-circle fa-2x"></i><br>Todo</a></li>
        <li><a href="/visit"><i class="far fa-calendar-check fa-2x"></i><br>Visits</a></li>
        <li><a href="/settings"><i class="fas fa-cog fa-2x"></i><br>Config</a></li>
    </ul>
</div>