<div class="margin-top">
    <div id="index-title" class="container">
        <h1>
            {{pageHeader}}
        </h1>
        {{#if paw}}
        <i class="fas fa-paw fa-2x"></i>
        {{/if}}

        {{#if todo}}
        <i class="far fa-check-circle fa-2x"></i>
        {{/if}}

        {{#if visit}}
        <i class="far fa-calendar-check fa-2x"></i>
        {{/if}}

        {{#if config}}
        <i class="fas fa-cog fa-2x"></i>
        {{/if}}
    </div>

    <hr>
</div>