{{> pageheader}}

<div class="container center">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-dog fa-3x"></i>
        </div>
        <div class="card-title">
            <h2>Card title</h2>
        </div>
        <div class="card-body">
            <p>Card body here</p>
        </div>
        <div class="card-footer">
            <p>Card footer here</p>
        </div>
    </div>
</div>

<div class="container center">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-cat fa-3x"></i>
        </div>
        <div class="card-title">
            <h2>Luna</h2>
        </div>
        <div class="card-body">
            <p>Black cat!</p>
        </div>
        <div class="card-footer">
            <p>Best cat to princess serenity!</p>
        </div>
    </div>
</div>

<div class="container center">
    <button id="add-new-pet"><i class="fas fa-plus"></i> ADD NEW PET</button>
</div>