{{> pageheader}}

{{#each apiRes}}
<div class="container center">

    <div class="card">
        <a href="/petdetails">
            <div class="card-header">
                <i class="fas fa-dog fa-2x"></i>
            </div>
            <div class="card-title">
                <h2>{{this.name}}</h2>
            </div>
            <div class="card-body">
                <p>{{this.dob}}</p>
            </div>
            <div class="card-footer">
                <p>{{this.gender}}</p>
            </div>
        </a>
    </div>

</div>
{{/each}}

<div class="container center">
    <div class="card">
        <a href="/petdetails">
            <div class="card-header">
                <i class="{{petIcon}}"></i>
            </div>
            <div class="card-title">
                <h2>Luna</h2>
            </div>
            <div class="card-body">
                <p>Black cat!</p>
            </div>
            <div class="card-footer">
                <p>Best cat to princess serenity!</p>
            </div>
        </a>
    </div>
</div>

<div class="container center">
    <a href="/addpet" id="add-new-pet"><i class="fas fa-plus"></i>ADD NEW PET</a>
</div>