<div id="login-form" class="container">

    <div id="login-form-title">
        <h1 class="center">Hello,</h1>
        <h1 class="center">Welcome to Pawsperity</h1>
    </div>

    <div id="login-card-container" class="center">
        <div class="card">
            <h1 class="card-title">Login</h1>
            <div class="card-body">
                <div class="form">
                    <label for="email" class="label-align">EMAIL:</label><br>
                    <input type="text" placeholder="email"><br>
                    <label for="password" class="label-align">PASSWORD:</label><br>
                    <input type="text" placeholder="password"><br>

                    <div class="break"></div>

                    <button class="submit-button">Submit</button>
                </div>
            </div>
            <div class="card-footer">
                <a href="/signup">
                    <p>Sign Up For An Account!</p>
                </a>
            </div>
        </div>
    </div>

</div>


<script src="./js/login.js"></script>