{{> pageheader}}

<div class="container center">
    <h1>{{name}}</h1>
    <hr>
</div>

<div class="container">
    <p>Type: {{typeName}}</p>
    <p>DOB: {{dob}}</p>
    <p>Gender: {{gender}}</p>
</div>

<div class="break"></div>

<div class="button-container">
    <a href="/" class="my-button">
        <h2><i class="fas fa-home"></i> Back</h2>
    </a>
    <div class="break"></div>
    <button class="my-button" id="edit-pet">
        <h2><i class="fas fa-pen-square"></i> Edit</h2>
    </button>
</div>

{{!-- EDIT PET PROMPTS --}}
{{> editPet}}

{{!-- REMOVE PETS --}}
{{> removePet}}

{{!-- ADDS JQUERY --}}
{{> jquery}}
<script src="/js/petdetails.js"></script>