{{> pageheader}}

<div class="container center">
    <h1>Name of Pet Here</h1>
    <hr>
</div>

<div class="container">
    <p>DOB: Date of birth here</p>
    <p>Gender: pet gender here</p>
    <p>Type: Pet type here</p>
</div>

<div class="button-container">
    <a href="/" class="my-button">
        <h2><i class="fas fa-home"></i>Back</h2>
    </a>
</div>