{{> pageheader}}

<div class="container">
    <a href="" class="center">
        <h1>Profile</h1>
    </a>
    <br>
    <hr>
    <br>
    <a href="" class="center">
        <h1>Logout</h1>
    </a>
    <br>
    <hr>
</div>