{{> pageheader}}

<div class="container">
    <a href="/profile" class="center">
        <h1>Profile</h1>
    </a>
    <br>
    <hr>
    <br>
    <a href="/login" class="center">
        <h1>Logout</h1>
    </a>
    <br>
    <hr>
</div>