{{> pageheader}}

<div class="container">
    <a href="/profile" class="center">
        <h1>Profile</h1>
    </a>
    <br>
    <hr>
    <br>
    <a href="/api/users/logout" class="center" id="logout">
        <h1>Logout</h1>
    </a>
    <br>
    <hr>
</div>

<script src="/js/logout.js"></script>