<div id="login-form" class="container">

    {{> mainTitle}}

    <div id="login-card-container" class="center">
        <div class="card">
            <h2 class="card-title">Sign Up</h2>
            <div class="card-body">
                <div class="form">
                    <label for="name" class="label-align">NAME:</label><br>
                    <input type="text" placeholder="name"><br><br>
                    <label for="email" class="label-align">EMAIL:</label><br>
                    <input type="text" placeholder="email"><br><br>
                    <label for="password" class="label-align">PASSWORD:</label><br>
                    <input type="password" placeholder="password"><br>
                    <div class="break"></div>
                    <button class="submit-button">Submit</button>
                </div>
            </div>
            <div class="card-footer">
                <a href="/login">
                    <p>Login Into Existing Account!</p>
                </a>
            </div>
        </div>
    </div>

</div>


<script src="./js/login.js"></script>