{{> pageheader}}

<div class="todo container">
  <article class="card center-this">
    <div class="card-header flex-row justify-space-between">
      <h2>{{todo.name}}</h2>
      <div>
        {{!-- Posted by {{post.User.username}} on {{format_date post.createdAt}} --}}
      </div>
    </div>
    <div class="card-body">
      {{todo.description}}
    </div>
  </article>
</div>


