{{> pageheader}}

<div class="todo container">
  <article class="card center-this">
    <div class="card-header flex-row justify-space-between">
      <h2>{{todo.name}}</h2>
      <div>
        {{!-- Posted by {{post.User.username}} on {{format_date post.createdAt}} --}}
      </div>
    </div>
    <div class="card-body">
      {{todo.description}}
    </div>
  </article>
</div>

<div class="button-container">
  <a href="/todos" class="my-button">
    <h2><i class="fas fa-home"></i> Back</h2>
  </a>
  <div class="break"></div>
  <button class="my-button" id="edit-todo">
    <h2><i class="fas fa-pen-square"></i> Edit</h2>
  </button>
</div>

{{!-- EDIT TODO PROMPTS --}}
{{> editTodo}}

{{!-- REMOVE TODO --}}
{{> removeTodo}}

{{!-- ADDS JQUERY --}}
{{> jquery}}

<script src="/js/todoDetails.js"></script>