{{> pageheader}}

<div class="container center">
    <button class="visit-button" id="visit-today">
        <h1>TODAY <i class="fas fa-chevron-down"></i></h1>
        <br>
        <div class="hide">
            <ul>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
            </ul>
        </div>
    </button>
</div>

<div class="container center">
    <button class="visit-button" id="visit-upcoming">
        <h1>UPCOMING VISITS <i class="fas fa-chevron-down"></i></h1>
        <br>
        <div class="hide">
            <ul>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
            </ul>
        </div>
    </button>
</div>

<div class="container center">
    <button class="visit-button" id="visit-past">
        <h1>PAST VISITS <i class="fas fa-chevron-down"></i></h1>
        <br>
        <div class="hide">
            <ul>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
            </ul>
        </div>
    </button>
</div>

<button id="add-new-visit"><i class="fas fa-edit fa-2x"></i></button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/visitCSS.js"></script>