{{> pageheader}}

<div class="container center">
  <div class="post card">
    <div class="post-card-header">
      <h2>Visit</h2> <br>
    </div>
    <form id="new-visit-form" class="card-body">
      <label class="form-label" for="visit-title">Title:</label> <br>
      <input type="text" name="visit-name" class="form-input" /> <br>
      <label class="form-label" for="visit-date">Date:</label> <br>
      <input type="date" name="visit-date" class="form-input" /> <br>
      <label class="form-label" for="visit-description">description:</label> <br>
      <textarea name="visit-description" class="form-input"></textarea> <br>

      <button type="submit" class="btn submit-button">

        <h2><i class="fas fa-pencil-alt fa-md"></i>Create</h2>

      </button>
    </form>
  </div>
</div>
<script src="/js/newVisit.js"></script>