{{> pageheader}}

<div class="todo-button flex-row justify-center">
  <a href="/visitForm">➕ New Visit</a>
</div>

<div class="container center">
    <button class="visit-button" id="visit-today">
        <h1>TODAY <i class="fas fa-chevron-down"></i></h1>
        <br>
        <div class="hide">
            <ul>
                <li>
                    <div class="card center-this">
                        <div class="card-title">
                            VISIT DATE
                        </div>
                        <div class="card-body">
                            VISIT TYPE
                        </div>
                        <div class="card-footer">
                            VISIT NOTES ?????
                        </div>
                    </div>
                    <br>
                </li>
                <li>
                    <div class="card center-this">
                        <div class="card-title">
                            03/24/2021
                        </div>
                        <div class="card-body">
                            Grooming
                        </div>
                        <div class="card-footer">
                            Go get groomed you dirty
                        </div>
                    </div>
                    <br>
                </li>
            </ul>
        </div>
    </button>
</div>

<div class="container center">
    <button class="visit-button" id="visit-upcoming">
        <h1>UPCOMING VISITS <i class="fas fa-chevron-down"></i></h1>
        <br>
        <div class="hide">
            <ul>
                <li>
                    <div class="card center-this">
                        <div class="card-title">
                            06/01/2021
                        </div>
                        <div class="card-body">
                            PLAYHOUSE
                        </div>
                        <div class="card-footer">
                            HAVING FUN IN THE SUN
                        </div>
                    </div>
                    <br>
                </li>
                <li>
                    <div class="card center-this">
                        <div class="card-title">
                            07/04/2021
                        </div>
                        <div class="card-body">
                            BUNKER
                        </div>
                        <div class="card-footer">
                            HIDE IN A BUNKER CAUSE FIREWORKS SUCKS
                        </div>
                    </div>
                    <br>
                </li>
            </ul>
        </div>
    </button>
</div>

<div class="container center">
    <button class="visit-button" id="visit-past">
        <h1>PAST VISITS <i class="fas fa-chevron-down"></i></h1>
        <br>
        <div class="hide">
            <ul>
                <li>
                    <div class="card center-this">
                        <div class="card-title">
                            03/22/2021
                        </div>
                        <div class="card-body">
                            VET
                        </div>
                        <div class="card-footer">
                            DOGGIE A-OKAY
                        </div>
                    </div>
                    <br>
                </li>
                <li>
                    <div class="card center-this">
                        <div class="card-title">
                            03/02/2021
                        </div>
                        <div class="card-body">
                            SPA DAY
                        </div>
                        <div class="card-footer">
                            Love spa day
                        </div>
                    </div>
                    <br>
                </li>
                <li>
                    <div class="card center-this">
                        <div class="card-title">
                            03/03/2021
                        </div>
                        <div class="card-body">
                            Wacky Park
                        </div>
                        <div class="card-footer">
                            Park lovers unite!
                        </div>
                    </div>
                    <br>
                </li>
                <li>
                    <div class="card center-this">
                        <div class="card-title">
                            03/03/2021
                        </div>
                        <div class="card-body">
                            Dentist
                        </div>
                        <div class="card-footer">
                            Doggie treats go dentist
                        </div>
                    </div>
                    <br>
                </li>
            </ul>
        </div>
    </button>
</div>

<button id="add-new-visit"><i class="fas fa-edit fa-2x"></i></button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/visitCSS.js"></script>