#edit-popup {
    margin-top: 1rem;
}

#edit-popup select,
#edit-popup input {
    width: 75%;
}

.label-design {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.label-design label {
    justify-content: flex-end;
}

.button {
    border: none;
    background-color: transparent;
    border-top: 1px solid gray;
    font-size: 1.2rem;
    font-weight: bold;
}