/* Import fira font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
    --primary-color: #ABDEE6;
    --secondary-color: #CBAACB;
    --tertiary-color: #F3B0C3;

    --off-white-color: #ECEAE4;
    --white-color: #fff;
    --dark-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--dark-color);
    line-height: 1.3rem;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--off-white-color);
    max-width: 400px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

select,
textarea,
input {
    border-color: var(--dark-color);
    border-radius: 4px;
    background-color: white;
    resize: none;
    padding: 0.2rem;
    margin: 0.5rem;
    width:fit-content;
}

.hide {
    display: none;
}

.center { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-this {
    margin: 0 auto;
    width: 100%;
}

.container {
    padding: 1rem;
}

.main-container {
    padding-bottom: 8rem;
}

.container-thin {
    padding: 0.4rem;
}

.white-text {
    color: var(--white-color);
}

.my-button {
    border-top: 1px solid gray;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.4rem;
}

.submit-button {
    margin-top: 1rem;
    border: none;
    background-color: transparent;
    border-top: 1px solid gray;
    padding: 0.4rem;
}

.card {
    width: 90%;
    height: fit-content;
    background-color: #FFCCB6;
    border-radius: 5px;
    padding: 0.3rem;
}

.card-header {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
}

.margin-top {
    margin-top: 2rem;
}

.label-align {
    width: fit-content;
}

.break {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.form {
    padding: 1rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.visit-button {
    border: none;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid gray;
    background-color: transparent;
}

.size-up {
    font-size: 1.2rem;
}

.visit-list-bg > li:nth-child(odd) {
    /* background-color: #CCE2CB; */
    background-color: white;
}

.visit-list {
    padding: 1rem;
}

.profile-email-title {
    border-bottom: 1px solid grey;
    width: 50%;
    margin: 0 auto;
}

.profile-email {
    font-size: 1.5rem;
    line-height: 3rem;
}

#login-form {
    margin-top: 20%;
}

#login-form-title {
    margin-bottom: 10%;
}

#login-form-title h1 {
    font-size: 3rem;
    font-weight: bold;
}

#page404 {
    font-size: 5rem;
    letter-spacing: 1rem;
}

#nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    background-color: var(--primary-color);
}

#nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

#nav li {
    padding: 1rem;
}

#add-new-pet {
    font-size: 2rem;
    /* background-color: var(--tertiary-color); */
    /* border-radius: 10px; */
    padding: 0.5rem;
    border: none;
    border-top: 1px solid gray;
    background-color: var(--off-white-color);
    width: 95%;
}

#index-title {
    display: flex;
    justify-content: space-between;
}

#add-new-visit {
    border: none;
    position:fixed;
    width:60px;
    height:60px;
    bottom:120px;
    right:20px;
    background-color: var(--secondary-color);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: -2px 2px 3px #999;
}

.text-completed {
    opacity: .25;
}

.text-completed:hover {
    opacity: 1.0;
}
.card-completed {
    opacity: .50;
    width: 90%;
    height: fit-content;
    background-color: #FFCCB6;
    border-radius: 5px;
    padding: 0.3rem;
}
.card-completed:hover {
    opacity: 1.0;
}

.todo-button {
    margin: auto;
    width: 50%;
    border: 3px solid gray;
    padding: 10px;
}

.completed-header{
    margin: auto;
    width: 20%;
}

#pawsperity {
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #8FCACA;
}

#pawsperity i {
    color: #55CBCD;
}

#add-pet {
    border: none;
    background-color: transparent;
    border-top: 1px solid gray;
}

#remove-pet {
    border: none;
    background-color: transparent;
    border-top: 1px solid gray;
    margin-top: 90%;
    font-size: 0.8rem;
    opacity: 0.5;
    width: 80%;
}

#confirm-option .fas,
#confirm-option h2 {
    color: red;
}

#delete-container {
    background-color: white;
    width: 80%;
    border-radius: 5px;
    margin-top: 5rem;
    box-shadow: 1px 1px 10px gray;
}

#delete-container h2 {
    line-height: 2rem;
}